@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Dhurjati&family=Hedvig+Letters+Serif:opsz@12..24&family=Kanit&family=Ma+Shan+Zheng&family=Noto+Serif:wght@300;400&family=Oswald:wght@200;600&family=Rubik+Bubbles&family=Rubik+Doodle+Shadow&family=Silkscreen&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

.Content-page {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-image: linear-gradient(to left, rgba(23, 114, 5, 0.5), rgba(43, 255, 0, 0.5), rgba(195, 254, 0, 0.5)), url('./Image/ChefCooking.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Rubik Doodle Shadow';
    color: aliceblue;
    gap: 0;
}

.Content-page p{
    font-size: 50px;
}

.Content-page h1 {
    font-size: 150px;
}

.Content-Second {
    position: relative;
    padding-top: 20px;
    height: 470px;
    display: flex;
    flex-direction: column;
    background-color: dimgray;
}

.Favorite-Search {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#Searching {
    border-radius: 20px;
    width: 200px;
    height: 30px;
    border: lawngreen 4px solid;
    font-family: 'Rubik Doodle Shadow';
}

.SearchButton {
    height: 50px;
    width: 50px;
    background-color: lawngreen;
    border-radius: 100%;
    border: green solid 3px;
}

.SearchButton img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#Searching:focus {
    border-color:green;
    outline: none;
}

.Add-Content{
    position: absolute;
    text-decoration: none;
    top: 20px;
    right: 20px;
    padding: 10px;
    font-family: 'Salsa';
    border: solid greenyellow 1px;
    border-radius: 10px;
    background-image: linear-gradient(lightgreen, green);
    cursor: pointer;
    color: white;
}

.Favorite-Content {
    scroll-snap-type: both mandatory;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 50px;
    border-top: green solid 3px;
    border-bottom: green solid 3px;
    background-color: antiquewhite;
    gap: 20px;
    overflow-y: hidden;
}

.Fav-Content {
    scroll-snap-align: center;
    height: 100%;
    width: 250px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgba(72, 255, 0, 0.5), green);
}

.Fav-Content-Title {
    overflow: hidden;
    width: 100%;
    color: white;
    font-family: 'Salsa';
    font-weight: bolder;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Fav-Context {
    padding: 10px;
    width: 80%;
    height: 100px;
    overflow-y: hidden;
    font-size: small;
    border: 3px solid green;
    border-radius: 20px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Fav-Context::-webkit-scrollbar {
    display: none;
}

.Fav-Author {
    width: fit-content;
    height: 10%;
    float: right;
    font-size: x-small;
}

@media (width < 720px) {
    .Content-page {
        overflow: hidden;
    }

    .Add-Content {
        top: 75px;
    }
    
    .Favorite-Content {
        display: grid;
        justify-content: start;
        align-items:baseline;
        grid-auto-flow: column;
        overflow-x: scroll;
    }

    .Fav-Content {
        width: 250px;
        scroll-behavior: smooth;
    }

    .Content-page h1 {
        font-size: 75px;
    }
    .Content-page p {
        font-size: 25px;
    }
}