@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Dhurjati&family=Hedvig+Letters+Serif:opsz@12..24&family=Kanit&family=Ma+Shan+Zheng&family=Noto+Serif:wght@300;400&family=Oswald:wght@200;600&family=Rubik+Bubbles&family=Rubik+Doodle+Shadow&family=Silkscreen&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

.First-Content {
    background-color: green;
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.First-Content video {
    width: 100%;
    height: 100%;
}

.First-Content:hover .Pause{
    width: 75px;
    height: 75px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin: auto;
    background-image: url('./Image/Pause.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.First-Content:hover .Play{
    width: 75px;
    height: 75px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin: auto;
    background-image: url('./Image/Play.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.Content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Second {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(to bottom, green, lightgreen);
    height: 500px;
    justify-content: center;
    align-items: center;
}

.Second h1 {
    font-family: 'Rubik Doodle Shadow';
    color: white;
}

.Second p {
    color: white;
    font-family: 'Salsa';
    font-weight: bold;
    font-size: large;
}

button {
    all: unset;
}

#Share {
    padding: 20px;
    width: 75px;
    border: 3px white solid;
    border-radius: 50px;
    color: white;
    font-family: 'Salsa';
    cursor: pointer;
}

#Share:hover {
    background-color: white;
    color: green;
    transition: 0.5s ease-in-out;
}

#Share:not(hover){
    transition: 0.5s ease-in-out;
}

.Last {
    border-top: limegreen solid 3px;
    height: 500px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.Context{
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./Image/Shopping.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.Context:nth-child(2) {
    background-image: url('./Image/Cooking.gif');
}

.Context h1 {
    color: transparent;
    -webkit-text-stroke: 0.1vw #383d52;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 50px;
}

.Context h1 .Linking {
    all:unset;
}

.Context h1:hover {
    font-size: 75px;
    transition: 0.5s ease-in-out;
}

.Context h1:not(hover) {
    transition: 0.5s ease-in-out;
}

.Context h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(-2% 0%, 0% 0%, 0% 100%, 0% 100%);
    -webkit-clip-path: polygon(-2% 0%, 0% 0%, 0% 100%, 0% 100%);
    color: limegreen;
    overflow: hidden;
    z-index: 2;
}

.Context h1:hover::before {
    animation: Text-Animate 1s ease-in-out forwards;
}

.Context h1:not(hover)::before {
    animation: Leave-Animate 1s ease-in-out forwards;
}

.Middle {
    font-family: 'Rubik Doodle Shadow';
    color: white;
    position: absolute;
    top: 20%;
    left: 40%;
}

@keyframes Text-Animate {
    0% {
        clip-path: polygon(-2% 0%, 0% 0%, 0% 100%, 0% 100%);
        -webkit-clip-path: polygon(-2% 0%, 0% 0%, 0% 100%, 0% 100%);
    } 100% {
        clip-path: polygon(-2% 0%, 100% 0%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(-2% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes Leave-Animate {
    0% {
        clip-path: polygon(-2% 0%, 100% 0%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(-2% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    100%{
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
        -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
    }
}

@media (width < 720px){
    .First-Content {
        height: 400px;
    }

    .Last {
        flex-direction: column;
    }

    .Context{
        width: 100%;
    }
    
    .Middle{
        top: 42%;
        left: 15%;
    }
}