.About-Page {
    scroll-behavior: smooth;
    scroll-snap-type: both mandatory;
    overflow-y: scroll;
}

.About-Content {
    scroll-snap-align: center;
}

.About-Content:nth-child(1){
    height: 500px;
    display: grid;
}

.About-Content:nth-child(2){
    height: 600px;
    background-color: greenyellow;
}

.About-Content:nth-child(3){
    height: 400px;
    background-color: chartreuse;
}